Repository Lumina-Enterprise-Solutions/prism-auth-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team

.github/CODEOWNERS:

# File: .github/CODEOWNERS
# Pemilik kode akan otomatis diminta review saat ada PR yang mengubah file yang cocok.

# Tim Core bertanggung jawab atas logika bisnis utama dari layanan ini.
*       @Lumina-Enterprise-Solutions/Core-Team

# Tim Platform bertanggung jawab atas infrastruktur, build, dan keamanan.
# Mereka harus mereview perubahan pada Dockerfile, Makefile, dan konfigurasi CI.
Dockerfile   @Lumina-Enterprise-Solutions/Platform-Team
Makefile     @Lumina-Enterprise-Solutions/Platform-Team
.github/     @Lumina-Enterprise-Solutions/Platform-Team @Lumina-Enterprise-Solutions/Architecture-Team

# Perubahan pada file dependensi harus direview oleh Tim Arsitektur.
go.mod      @Lumina-Enterprise-Solutions/Architecture-Team
go.sum      @Lumina-Enterprise-Solutions/Architecture-Team

feat: add Swagger documentation for authentication endpoints (#13)
  .github/workflows/release.yml
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/handler/http_handler.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

fix: update dependencies and adjust response mapping in user service client
  go.mod
  go.sum
  internal/client/user_service_client.go
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat: add TenantID field to InvitationData and remove Role from user registration
  internal/client/invitation_client.go
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

fix: update dependencies for prism-common-libs and prism-protobufs; add TODOs for TenantID in auth service
  go.mod
  go.sum
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

Feature/full multi tenancy (#14)
  go.mod
  go.sum
  internal/client/invitation_client.go
  internal/client/user_service_client.go
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor auth-service to call tenant-service
  go.mod
  go.sum
  internal/client/tenant_service_client.go
  internal/handler/http_handler.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat: add tenant service integration and update login method to include organization name
  Dockerfile.mono
  go.mod
  go.sum
  internal/client/tenant_service_client.go
  internal/client/user_service_client.go
  internal/handler/http_handler.go
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

Feature/refactor auth service to call tenant service (#16)
  Dockerfile.mono
  go.mod
  go.sum
  internal/client/tenant_service_client.go
  internal/client/user_service_client.go
  internal/handler/http_handler.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team
