Repository Lumina-Enterprise-Solutions/prism-auth-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team

refactor: clean up comments and improve jaeger endpoint handling
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor: improve error handling and clean up unused code in auth service
  internal/handler/auth_handler.go
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor: enhance error handling in notification client and add nolint directives for environment variable settings
  internal/client/notification_client.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor: comment out Docker image build step in CI workflow
  .github/workflows/ci.yml
Owners: @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team

refactor(common-libs): centralize secret loading from Vault
  go.mod
  go.sum
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(auth-service): centralize secret loading from Vault (#2)
  .github/workflows/ci.yml
  go.mod
  go.sum
  internal/client/notification_client.go
  internal/handler/auth_handler.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(auth-service): centralize secret loading from Vault (#2) (#3)
  go.mod
  go.sum
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(main): improve dependency setup and error handling in setupDependencies function
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor(main): improve dependency setup and error handling in setupDependencies function (#4)
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

Develop (#5)
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor: integrate user-service gRPC client and restructure token management
  go.mod
  go.sum
  internal/client/user_service_client.go
  internal/repository/token_repository.go
  internal/repository/user_repository.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor: add Redis client initialization and update JWT middleware to use Redis
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

Feat/autentikasi sejati (#7)
  go.mod
  go.sum
  internal/client/user_service_client.go
  internal/repository/token_repository.go
  internal/repository/user_repository.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(redis): update InitRedisClient to accept a Redis client instance
  internal/redis/client.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor: update dependencies and enhance user service client with Enable2FA method
  go.mod
  go.sum
  internal/client/user_service_client.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

Refactor/update redis client to accept redis client instance (#9)
  go.mod
  go.sum
  internal/client/user_service_client.go
  internal/redis/client.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

Develop (#8)
  go.mod
  go.sum
  internal/client/user_service_client.go
  internal/redis/client.go
  internal/repository/token_repository.go
  internal/repository/user_repository.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(auth-service): implement gRPC call for enabling 2FA
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor(auth-service): update configuration to load Vault settings and upgrade common libs
  config/config.go
  go.mod
  go.sum
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

refactor(main): update logging to use zerolog and improve log messages
  go.mod
  go.sum
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(main): implement graceful shutdown for HTTP server
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat(auth-service): implement password reset functionality and notification system
  go.mod
  go.sum
  internal/client/notification_client.go
  internal/client/user_service_client.go
  internal/handler/auth_handler.go
  internal/repository/password_reset_repository.go
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat(auth-service): add API key management functionality with creation, retrieval, and revocation
  go.mod
  go.sum
  internal/handler/api_key_handler.go
  internal/middleware/auth_middleware.go
  internal/repository/api_key_repository.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(auth-service): improve API key creation and validation logic for enhanced security
  internal/repository/api_key_repository.go
  internal/service/auth_service.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat(auth-service): add gRPC support for generating impersonation tokens
  go.mod
  go.sum
  internal/grpc_server/server.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

Add comprehensive tests for authentication and repository functionalities
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
  internal/client/notification_client.go
  internal/client/notification_client_test.go
  internal/grpc_server/server.go
  internal/grpc_server/server_test.go
  internal/handler/api_key_handler_test.go
  internal/handler/auth_handler.go
  internal/handler/auth_handler_test.go
  internal/middleware/auth_middleware_test.go
  internal/repository/api_key_repository_test.go
  internal/repository/main_test.go
  internal/repository/password_reset_repository_test.go
  internal/repository/token_repository_test.go
  internal/service/auth_service.go
  internal/service/auth_service_test.go
  main.go
  scripts/test-integration.sh
Owners: @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor(notification-client): improve error handling for response body closure
  internal/client/notification_client.go
  internal/client/user_service_client.go
  internal/middleware/auth_middleware_test.go
  internal/repository/api_key_repository_test.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

refactor(tests): enhance database schema setup and cleanup for integration tests
  internal/repository/main_test.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat(docker): enhance Dockerfile for improved build process and security
  .dockerignore
  .github/workflows/release.yml
  Dockerfile
  Dockerfile.mono
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team

fix(Dockerfile): update build command to use current directory for Go package
  Dockerfile
Owners: @Lumina-Enterprise-Solutions/Platform-Team

Update README.md
  README.md
Owners: @Lumina-Enterprise-Solutions/Core-Team

Create index.html
  index.html
Owners: @Lumina-Enterprise-Solutions/Core-Team

Update index.html
  index.html
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: Enhance Auth Service with Invitation and 2FA Features
  .github/rulesets/branch-ruleset.json
  Dockerfile.mono
  Makefile.ops
  go.mod
  go.sum
  internal/client/invitation_client.go
  internal/client/notification_client.go
  internal/client/notification_client_test.go
  internal/client/user_service_client_test.go
  internal/grpc_server/server_test.go
  internal/handler/api_key_handler_test.go
  internal/handler/auth_handler.go
  internal/handler/auth_handler_test.go
  internal/middleware/auth_middleware.go
  internal/middleware/auth_middleware_test.go
  internal/repository/api_key_repository_test.go
  internal/repository/main_test.go
  internal/service/auth_service.go
  internal/service/auth_service_test.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat: Enhance Auth Service with Invitation and 2FA Features (#11)
  .github/rulesets/branch-ruleset.json
  Dockerfile.mono
  Makefile.ops
  go.mod
  go.sum
  internal/client/invitation_client.go
  internal/client/notification_client.go
  internal/client/notification_client_test.go
  internal/client/user_service_client_test.go
  internal/grpc_server/server_test.go
  internal/handler/api_key_handler_test.go
  internal/handler/auth_handler.go
  internal/handler/auth_handler_test.go
  internal/middleware/auth_middleware.go
  internal/middleware/auth_middleware_test.go
  internal/repository/api_key_repository_test.go
  internal/repository/main_test.go
  internal/service/auth_service.go
  internal/service/auth_service_test.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

Refactor authentication handler and integrate SAML support
  config/config.go
  go.mod
  go.sum
  internal/handler/auth_handler_test.go
  internal/handler/http_handler.go
  internal/service/auth_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

refactor(tests): improve error handling and environment variable setup in test cases
  internal/client/invitation_client.go
  internal/client/user_service_client_test.go
  internal/handler/auth_handler_test.go
  internal/middleware/auth_middleware_test.go
  internal/service/auth_service_test.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: add Single Sign-On (SSO) feature description to README
  README.md
Owners: @Lumina-Enterprise-Solutions/Core-Team

Feature/phase2 enterprise readiness (#12)
  README.md
  config/config.go
  go.mod
  go.sum
  internal/client/invitation_client.go
  internal/client/user_service_client_test.go
  internal/handler/auth_handler_test.go
  internal/handler/http_handler.go
  internal/middleware/auth_middleware_test.go
  internal/service/auth_service.go
  internal/service/auth_service_test.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

feat: add Swagger documentation for authentication endpoints
  .github/workflows/release.yml
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  internal/handler/http_handler.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

.github/CODEOWNERS:

# File: .github/CODEOWNERS
# Pemilik kode akan otomatis diminta review saat ada PR yang mengubah file yang cocok.

# Tim Core bertanggung jawab atas logika bisnis utama dari layanan ini.
*       @Lumina-Enterprise-Solutions/Core-Team

# Tim Platform bertanggung jawab atas infrastruktur, build, dan keamanan.
# Mereka harus mereview perubahan pada Dockerfile, Makefile, dan konfigurasi CI.
Dockerfile   @Lumina-Enterprise-Solutions/Platform-Team
Makefile     @Lumina-Enterprise-Solutions/Platform-Team
.github/     @Lumina-Enterprise-Solutions/Platform-Team @Lumina-Enterprise-Solutions/Architecture-Team

# Perubahan pada file dependensi harus direview oleh Tim Arsitektur.
go.mod      @Lumina-Enterprise-Solutions/Architecture-Team
go.sum      @Lumina-Enterprise-Solutions/Architecture-Team
